@charset "utf-8";
/* CSS Document */

table{
	margin-top: 100px;
	width: 100%;
}
.container{
}

#lastrow{
	background-color: #27C00A;
	padding-bottom: 50px;
}

a{
	color:red;
}

#image{
	padding-top: 10px;
}

.footer {
  position:relative;	
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
  margin-top: -3em;	
	
}